/** Styles for header **/
a{
    text-decoration: none;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
}

#header p {
	color: #1E5AE6;
	padding-top: 8px;
	padding-left: 15px;
	margin: 0px;
	width: 50%;
	position: relative;
	font-size:35px;
	font-weight: bold;
}

#header .login {
	position: absolute;
	top:14px;
	right:0;
	padding: 0px;
	margin: 0px;
	margin-right:15px;
	color: #fff;
	font-size:20px;
}

#header #login-button,
button.delete {
	float: right;
	margin-left:10px;
}
#logout-button #logout{
    float:right;
    margin: -36px 20px 0px 0px;
}

#header input,
#header button, 
#register-doge button,
.new-post button,
.new-post textarea,
.renderpostbox button,
button.delete {
	border-radius:4px;
}

#header button,
#register-doge button,
#newPost button,
.renderpostbox button,
#logout-button input,
button.delete {
	color:#1E5AE6;
	font-size:15px;
	font-weight: bold;
}

#logo {
	width:20%;
}

.login-error{
    color:red !important;
    font-size: 16px !important;
    float:right;
    margin: 50px 70px 0px 0px !important;
}

/** Front page content **/

* {
	font-family:"Comic Sans MS", "Comic Sans", cursive;
}

body {
	padding:0;
	margin:0;
        background-image :url("../images/index-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#front-doge {
	text-align: center;
	padding-top:180px;
}

#front-doge p {
	text-decoration: none;
	font-size: 60px;
	color: #fff;
}

.ghost-button {
	font-size:150%;
	display: inline-block;
	width: 210px;
	padding: 8px;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
	background-color: #fff; /* fallback */
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff; /* fallback */
	border-color: rgba(255, 255, 255, 0.4);
	transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

/** Register page **/

#register-doge {
    text-align: center;
	padding-top:180px;
}

.register-input-text{
    color:#fff;
}

.register-input-text input {
   margin: 5px 17px;
}

p.error {
	color:red;
	font-weight: bold;
	font-size: 110%;
        text-align: center;
        position: relative;
        top:100px;
}

p.accountCreated {
        color:green;
        position:relative;
        top:50px;
        text-align: center;
        font-size: 110%;
        font-weight: bold;
}

/** New post styles **/

#newPost {
	margin-right:auto;
	margin-left:auto;
	padding-top:80px;
	width: 50vw;     
}

p.new-post {
	color:#fff;
}

p.new-post button {
	float:right;
	margin-right:5px;
}

#newPost textarea {
	width:100%;
	height: 100px;
        resize: none;
}

/** Post and comments render styles **/

.renderpostbox{
    width:50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.postwrapper{
  
}

.avatar{
    width:50px;
    height:50px;
    position: inline-block;
    float:left;
}

.postername{
    color:aquamarine;
    font-size: 33px;
    margin-left: 70px;
}

.postrender{
    color:white;
    height:auto;
    width:100%;
    color:#FFF;
    resize:none;
    border-radius:4px;
    margin-top:4px;
    margin-bottom:4px;
}

.deletePost,
.editPost {
	float:right;
	margin-right:5px;
}

/** Comment area styles **/
.commentsection{
    margin-left: 20%;
    border-top: 1px solid #fff;
   
}

.addcomment{
    color:#fff;
    display:inline;
}

.commentarea{
    width:80%;
    display: inline;
}


/** Footer styles **/

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 28px;
}

#footer p {
	color: #1E5AE6;
	text-align: center;
	bottom:12px;
	position: relative;
}